@charset "UTF-8";

@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf);
}

* {
    padding: 0px;
    margin: 0px;

}

body {
    background-color: #84e1ad;
}

header {
    background-image: linear-gradient(to bottom, #3cd983, rgb(31, 92, 63));
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.462);
    margin: 0px;
    padding: 15px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.449);
    size: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo {
    font-size: 1.5em;
    padding-top: 14px;
}

p#titulo-text {
    text-align: justify center;
    padding: 20px 36%;
    font-size: small;
}

nav {
    text-align: left;
}

nav>a {
    text-decoration: none;
    text-shadow: none;
    padding: 9px;
    color: white;
    font-weight: bold;
}

nav>a:hover {
    text-decoration: underline;
}

main {
    margin: auto;
    background-color: white;
    width: 57%;
    height: 100%;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
}

.pagina {
    padding: 35px 30px;
}

h1#historia,
h2,
h3 {
    font-family: idroid;
    color: #246341;
}

.pagina>p {
    font-size: 1.1em;
    padding: 20px 0 20px;
    text-indent: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

.pagina > h2 {
    background-image: linear-gradient(to right, #80e5ae4e, #fff);
    text-indent: 10px;
}
.marcar {
    color: #4d8064;
    font-weight: bold;
}

.mencao {
    color: #4d8064;
    font-weight: bold;
    text-decoration: none;
}

.mencao:hover {
    text-decoration: underline;
}

.bugdroid {
    text-align: center;
}

.video {
    background-color: #246341;
    padding: 30px 30px;
    
}

div.video > iframe {
    padding-top: 20px;
    width: 94%;
    left: 3%;
    right: 3%;
    position: relative;
    background-color: #246341;
}

h3.footer-t {
    background-color: #2fa866;
    margin: 20px 20px 0px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    font-family: sans-serif;
    color: white;
    font-size: large;
    padding: 9px;
}

div.final {
    background-color: #c5ebd6;
    margin: 0px 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 11px 7px;
    text-indent: 20px;
    border-radius: 0px 0px 8px 8px;
}

.final > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

.final > p {
    padding: 15px 0px 15px;
}

footer > p {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    text-indent: 20px;
    padding-bottom: 30px;
}


.finall {
    background-color: #246341;
    margin: 0px;
}

.finall > p {
    text-align: center;
    padding: 5px;
    color: #2fa866;
    font-style: italic;
}

.eu {
    color: white;
}